[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "third_party/corephys"]
	path = third_party/corephys
	url = https://github.com/DevL0rd/CorePhys.git
